*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

body{
    background-color: ivory;
   
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

section{
    border: 1px solid black;
    background-color: #d68282;
    margin: 10px;
    margin-top: 20px;
    height: 180px;
    overflow: auto;
    
}

section>h2{
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0px;
    width: 230px;
    text-align: center;
    height: 35px;
    
}

section.first_part>h2 {
    background-color: #FADBD8;
}

section.second_part>h2{
    background-color: #E8DAEF ;
}

section.third_part > h2 {
background-color :#D6EAF8; 
}

div p{
    padding: 10px;
    padding-top: 30px;
}

/* Desktop view options */

@media (min-width: 992px) {
     .col-lg-4 {
        float: left;
        width: 33.33%;
    }
    
}


/* Tablet view options */

@media (min-width: 768px) and (max-width: 991px) {
     .col-md-6, .col-md-12 {
        float: left;
    }
    
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}


/* Mobile view options */

@media (max-width: 767px) {
     
    .col-sm-12 {
        width: 100%;
        float: left;
    }
}